/* libre-franklin-100 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/libre-franklin-v13-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v13-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v13-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v13-latin-100.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* libre-franklin-200 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/libre-franklin-v13-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v13-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v13-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v13-latin-200.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* libre-franklin-300 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/libre-franklin-v13-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v13-latin-300.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* libre-franklin-regular - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/libre-franklin-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v13-latin-regular.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* libre-franklin-500 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/libre-franklin-v13-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v13-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v13-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v13-latin-500.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* libre-franklin-700 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/libre-franklin-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v13-latin-700.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* libre-franklin-600 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/libre-franklin-v13-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v13-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v13-latin-600.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* libre-franklin-800 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/libre-franklin-v13-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v13-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v13-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v13-latin-800.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* libre-franklin-900 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/libre-franklin-v13-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v13-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v13-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v13-latin-900.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* libre-franklin-100italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/libre-franklin-v13-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v13-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v13-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-100italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v13-latin-100italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* libre-franklin-200italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/libre-franklin-v13-latin-200italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v13-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v13-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-200italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v13-latin-200italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* libre-franklin-300italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/libre-franklin-v13-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v13-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v13-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v13-latin-300italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* libre-franklin-italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/libre-franklin-v13-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v13-latin-italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* libre-franklin-500italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/libre-franklin-v13-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v13-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v13-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v13-latin-500italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* libre-franklin-600italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/libre-franklin-v13-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v13-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v13-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v13-latin-600italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* libre-franklin-700italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/libre-franklin-v13-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v13-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v13-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v13-latin-700italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* libre-franklin-800italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/libre-franklin-v13-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v13-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v13-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v13-latin-800italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* libre-franklin-900italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/libre-franklin-v13-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-franklin-v13-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v13-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v13-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v13-latin-900italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  font-display: swap;
}

:root {
  --bucheinbaende-1: url('../imgs/bucheinbaende/Flemming_Satt gelebt_2 .jpg');
  --bucheinbaende-2: url('../imgs/bucheinbaende/Rilke_Wie soll ich_1.jpg');
  --bucheinbaende-3: url('../imgs/bucheinbaende/Magische Nacht_3 Kopie.jpg');
  --bucheinbaende-4: url('../imgs/bucheinbaende/Faes_Paris_2.jpg');
  --bucheinbaende-5: url('../imgs/bucheinbaende/Rilke_Briefe_2.jpg');
  --bucheinbaende-6: url('../imgs/bucheinbaende/Schacht_Bell Island_Ansicht_bearbeitet-1.jpg');
  --bucheinbaende-7: url('../imgs/bucheinbaende/Anett Arnold_SIMONS_Rokoko_Ansicht klein.jpg');
  --bucheinbaende-8: url('../imgs/bucheinbaende/Matisse.jpg');
  --bucheinbaende-9: url('../imgs/bucheinbaende/vyoral_Ansicht.jpg');
  --bucheinbaende-10: url('../imgs/bucheinbaende/Shakespeare.jpg');
  --bucheinbaende-11: url('../imgs/bucheinbaende/Whitman_Schiefer grün.jpg');
  --bucheinbaende-12: url('../imgs/bucheinbaende/Rilke_Elegien_2017.jpg');
  --bucheinbaende-13: url('../imgs/bucheinbaende/Arnold_Paul_Luftschiffer.jpg');
  --bucheinbaende-14: url('../imgs/bucheinbaende/Rilke_Kleine Kostbarkeiten_2.jpg');
  --bucheinbaende-15: url('../imgs/bucheinbaende/Schuhu.jpg');
  --bucheinbaende-16: url('../imgs/bucheinbaende/Anett Arnold_DANTE_Sonetti_Ansicht Kopie.jpg');
  --bucheinbaende-17: url('../imgs/bucheinbaende/Simons_Altdeutsche Minnelieder_Ansicht.jpg');
  --bucheinbaende-18: url('../imgs/bucheinbaende/Kopert_rot_Ansicht.jpg');
  --bucheinbaende-19: url('../imgs/bucheinbaende/POE_I.jpg');
  --bucheinbaende-20: url('../imgs/bucheinbaende/Anett Arnold_Kleist_Marionettentheater_Einband_Gesamtansicht.jpg');
  --bucheinbaende-21: url('../imgs/bucheinbaende/Hero_Leander.jpg');
  --bucheinbaende-22: url('../imgs/bucheinbaende/Anett_Arnold_Bucheinbaende_Fried_innen[1].jpg');

  --restaurierungen-1: url('../imgs/restaurierungen/Album um 1700 vorher nachher 1.jpg');
  --restaurierungen-2: url('../imgs/restaurierungen/Parlophon vorher nachher.jpg');
  --restaurierungen-3: url('../imgs/restaurierungen/Laurembergii vorher nachher 1.jpg');
  --restaurierungen-4: url('../imgs/restaurierungen/Anett_Arnold_Historische_Karten_Restaurierung.jpg');
  --restaurierungen-5: url('../imgs/restaurierungen/Burgundici vorher nachher.jpg');
  --restaurierungen-6: url('../imgs/restaurierungen/938_23 vorher nachher.jpg');
  --restaurierungen-7: url('../imgs/restaurierungen/S 468 vorher nachher.jpg');
  --restaurierungen-8: url('../imgs/restaurierungen/Gerichtsordnung Celle vorher nachher.jpg');
  --restaurierungen-9: url('../imgs/restaurierungen/Venetia vorher nachher.jpg');
  --restaurierungen-10: url('../imgs/restaurierungen/Halle vorher nachher.jpg');
  --restaurierungen-11: url('../imgs/restaurierungen/Löseke vorher nachher.jpg');
  --restaurierungen-12: url('../imgs/restaurierungen/Rom vorher nachher.jpg');
  --restaurierungen-13: url('../imgs/restaurierungen/Sammelband vorher nachher 2.jpg');
  --restaurierungen-14: url('../imgs/restaurierungen/S 810 vorher nachher außen.jpg');
  --restaurierungen-15: url('../imgs/restaurierungen/Schließen vorher nachher.jpg');
  --restaurierungen-16: url('../imgs/restaurierungen/S 815 vorher nachher außen.jpg');

  --objekte-1: url('../imgs/objekte/Kartonage 2.jpg');
  --objekte-2: url('../imgs/objekte/Papiertheater Engelbrecht 1.jpg');
  --objekte-3: url('../imgs/objekte/Schubladen 2.jpg');
  --objekte-4: url('../imgs/objekte/Anett_Arnold_Behaelter_Dose_1 Kopie.jpg');
  --objekte-5: url('../imgs/objekte/Anett_Arnold_Objekt_Schale.jpg');
  --objekte-6: url('../imgs/objekte/Suminagashi_Schachtel.jpg');
  --objekte-7: url('../imgs/objekte/Zuckergemmenschachtel.jpg');
  --objekte-8: url('../imgs/objekte/Taufschale 4.jpg');

  --papiere-1: url('../imgs/papiere/Papier 1.jpg');
  --papiere-2: url('../imgs/papiere/Kleister 1.jpg');
  --papiere-3: url('../imgs/papiere/Papier 4.jpg');
  --papiere-4: url('../imgs/papiere/Spachtel 2.jpg');
  --papiere-5: url('../imgs/papiere/Papier 5.jpg');
  --papiere-6: url('../imgs/papiere/Kleister 3.jpg');
  --papiere-7: url('../imgs/papiere/Papier 11.jpg');
  --papiere-8: url('../imgs/papiere/Spachtel 3a.jpg');
  --papiere-9: url('../imgs/papiere/Papier 8.jpg');
  --papiere-10: url('../imgs/papiere/Spachtel 4.jpg');
  --papiere-11: url('../imgs/papiere/Kleister 2.jpg');
  --papiere-12: url('../imgs/papiere/Papier 9.jpg');
  --papiere-13: url('../imgs/papiere/Kleister 4.jpg');
  --papiere-14: url('../imgs/papiere/Papier 6.jpg');
  --papiere-15: url('../imgs/papiere/Papier 2.jpg');
  --papiere-16: url('../imgs/papiere/Spachtel 6.jpg');
  --papiere-17: url('../imgs/papiere/Papier 10.jpg');
  --papiere-18: url('../imgs/papiere/Papier 3.jpg');
  --papiere-19: url('../imgs/papiere/Spachtel 1.jpg');

  --faltarbeiten-1: url('../imgs/faltarbeiten/Faltung1.jpg');
  --faltarbeiten-2: url('../imgs/faltarbeiten/FaltungE.jpg');
  --faltarbeiten-3: url('../imgs/faltarbeiten/Faltung8.jpg');
  --faltarbeiten-4: url('../imgs/faltarbeiten/FaltungA.jpg');
  --faltarbeiten-5: url('../imgs/faltarbeiten/image1324.jpg');
  --faltarbeiten-6: url('../imgs/faltarbeiten/FaltungD.jpg');
  --faltarbeiten-7: url('../imgs/faltarbeiten/FaltungB.jpg');
  --faltarbeiten-8: url('../imgs/faltarbeiten/image1333.jpg');
  --faltarbeiten-9: url('../imgs/faltarbeiten/image1336.jpg');
  --faltarbeiten-10: url('../imgs/faltarbeiten/Faltung9b.jpg');
  --faltarbeiten-11: url('../imgs/faltarbeiten/image1342.jpg');
  --faltarbeiten-12: url('../imgs/faltarbeiten/Faltung7.jpg');
}

* {
  font-family: 'Libre Franklin', sans-serif;
  transition: 0.3s ease;
  /* border: 1px solid red; */
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: darkred;
}

/*  */
/* MENU */
/*  */
#menu-container {
  position: fixed;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: white;

  top:0;
  left:0;
  width: 100%;
  height: 60px;

  border-bottom: 1px solid;
  border-color: grey;

  z-index: 10;
}

#logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;

  color: black;
}

#logo-anett-arnold {
  color: inherit;
  font-size: 28px;
  margin-left: 2vw;
}
#logo-buchbinderei {
  color: inherit;
  font-size: 20px;
  margin-left: 1.5vw;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  height: 100%;
}

.menu-list {
  display: inherit;
  height: 100%;
  padding-left: 0;
}
#burger-button {
  display: none;
  color: grey;
}
#burger-button:hover, #logo-container:hover {
  color: darkred;
  cursor: pointer;
}
.menu-list-burger {
  position: fixed;
  display: flex;
  
  top: 60px;
  height: auto;
  margin-top: 0;

  background-color: white;

  border: 1px solid grey;
  border-top: 0;
  border-right: 0;
}
.list-element {
  list-style: none;

  display: inherit;
  align-items: center;

  height: 100%;
  padding: 0px 1vw;

  font-size: 16px;
}
.list-element-burger {
  height: auto;
  margin: 3vh 2vw;
  
  text-align: end;
}

/*  */
/* COVER */
/*  */
#cover-img {
  display: block;

  max-height: 90vh;
  max-width: 100vw;
  margin: 10vh auto;

  border-bottom: 1px solid;
  border-color: lightgrey;
}

/*  */
/* SECTIONS */
/*  */
.sections {
  border-bottom: 1px solid darkgrey;
  padding: 8vh 3vw;
}

.section-header {
  font-size: 7vh;
  font-weight: 100;
  text-align: center;
}

.vorschau-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 25px;
}

.vorschau-button {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 20vw;
  width: 20vw;
  min-height: 40vh;
  min-width: 40vh;
  margin: auto 5vw;

  cursor: pointer;
}

.vorschau-button:hover {
  transition: 0.5s ease;
  transform: scale(1.1);
}

.vorschau-button:active {
  transition: none;
  transform: scale(0.9);
}

#bucheinbaende-button-1, #bucheinbaende-1, #shortcut-bucheinbaende-1, #bucheinbaende-dot-1 { background-image: var(--bucheinbaende-1);}
#bucheinbaende-button-2, #bucheinbaende-2, #shortcut-bucheinbaende-2, #bucheinbaende-dot-2 { background-image: var(--bucheinbaende-2);}
#bucheinbaende-button-3, #bucheinbaende-3, #shortcut-bucheinbaende-3, #bucheinbaende-dot-3 { background-image: var(--bucheinbaende-3);}
#bucheinbaende-button-4, #bucheinbaende-4, #shortcut-bucheinbaende-4, #bucheinbaende-dot-4 { background-image: var(--bucheinbaende-4);}
#bucheinbaende-button-5, #bucheinbaende-5, #shortcut-bucheinbaende-5, #bucheinbaende-dot-5 { background-image: var(--bucheinbaende-5);}
#bucheinbaende-button-6, #bucheinbaende-6, #shortcut-bucheinbaende-6, #bucheinbaende-dot-6 { background-image: var(--bucheinbaende-6);}
#bucheinbaende-button-7, #bucheinbaende-7, #shortcut-bucheinbaende-7, #bucheinbaende-dot-7 { background-image: var(--bucheinbaende-7);}
#bucheinbaende-button-8, #bucheinbaende-8, #shortcut-bucheinbaende-8, #bucheinbaende-dot-8 { background-image: var(--bucheinbaende-8);}
#bucheinbaende-button-9, #bucheinbaende-9, #shortcut-bucheinbaende-9, #bucheinbaende-dot-9 { background-image: var(--bucheinbaende-9);}
#bucheinbaende-button-10, #bucheinbaende-10, #shortcut-bucheinbaende-10, #bucheinbaende-dot-10 { background-image: var(--bucheinbaende-10);}
#bucheinbaende-button-11, #bucheinbaende-11, #shortcut-bucheinbaende-11, #bucheinbaende-dot-11 { background-image: var(--bucheinbaende-11);}
#bucheinbaende-button-12, #bucheinbaende-12, #shortcut-bucheinbaende-12, #bucheinbaende-dot-12 { background-image: var(--bucheinbaende-12);}
#bucheinbaende-button-13, #bucheinbaende-13, #shortcut-bucheinbaende-13, #bucheinbaende-dot-13 { background-image: var(--bucheinbaende-13);}
#bucheinbaende-button-14, #bucheinbaende-14, #shortcut-bucheinbaende-14, #bucheinbaende-dot-14 { background-image: var(--bucheinbaende-14);}
#bucheinbaende-button-15, #bucheinbaende-15, #shortcut-bucheinbaende-15, #bucheinbaende-dot-15 { background-image: var(--bucheinbaende-15);}
#bucheinbaende-button-16, #bucheinbaende-16, #shortcut-bucheinbaende-16, #bucheinbaende-dot-16 { background-image: var(--bucheinbaende-16);}
#bucheinbaende-button-17, #bucheinbaende-17, #shortcut-bucheinbaende-17, #bucheinbaende-dot-17 { background-image: var(--bucheinbaende-17);}
#bucheinbaende-button-18, #bucheinbaende-18, #shortcut-bucheinbaende-18, #bucheinbaende-dot-18 { background-image: var(--bucheinbaende-18);}
#bucheinbaende-button-19, #bucheinbaende-19, #shortcut-bucheinbaende-19, #bucheinbaende-dot-19 { background-image: var(--bucheinbaende-19);}
#bucheinbaende-button-20, #bucheinbaende-20, #shortcut-bucheinbaende-20, #bucheinbaende-dot-20 { background-image: var(--bucheinbaende-20);}
#bucheinbaende-button-21, #bucheinbaende-21, #shortcut-bucheinbaende-21, #bucheinbaende-dot-21 { background-image: var(--bucheinbaende-21);}
#bucheinbaende-button-22, #bucheinbaende-22, #shortcut-bucheinbaende-22, #bucheinbaende-dot-22 { background-image: var(--bucheinbaende-22);}

#restaurierungen-button-1, #restaurierungen-1, #shortcut-restaurierungen-1, #restaurierungen-dot-1 { background-image: var(--restaurierungen-1);}
#restaurierungen-button-2, #restaurierungen-2, #shortcut-restaurierungen-2, #restaurierungen-dot-2 { background-image: var(--restaurierungen-2);}
#restaurierungen-button-3, #restaurierungen-3, #shortcut-restaurierungen-3, #restaurierungen-dot-3 { background-image: var(--restaurierungen-3);}
#restaurierungen-button-4, #restaurierungen-4, #shortcut-restaurierungen-4, #restaurierungen-dot-4 { background-image: var(--restaurierungen-4);}
#restaurierungen-button-5, #restaurierungen-5, #shortcut-restaurierungen-5, #restaurierungen-dot-5 { background-image: var(--restaurierungen-5);}
#restaurierungen-button-6, #restaurierungen-6, #shortcut-restaurierungen-6, #restaurierungen-dot-6 { background-image: var(--restaurierungen-6);}
#restaurierungen-button-7, #restaurierungen-7, #shortcut-restaurierungen-7, #restaurierungen-dot-7 { background-image: var(--restaurierungen-7);}
#restaurierungen-button-8, #restaurierungen-8, #shortcut-restaurierungen-8, #restaurierungen-dot-8 { background-image: var(--restaurierungen-8);}
#restaurierungen-button-9, #restaurierungen-9, #shortcut-restaurierungen-9, #restaurierungen-dot-9 { background-image: var(--restaurierungen-9);}
#restaurierungen-button-10, #restaurierungen-9, #shortcut-restaurierungen-10, #restaurierungen-dot-10 { background-image: var(--restaurierungen-10);}
#restaurierungen-button-11, #restaurierungen-10, #shortcut-restaurierungen-11, #restaurierungen-dot-11 { background-image: var(--restaurierungen-11);}
#restaurierungen-button-12, #restaurierungen-11, #shortcut-restaurierungen-12, #restaurierungen-dot-12 { background-image: var(--restaurierungen-12);}
#restaurierungen-button-13, #restaurierungen-12, #shortcut-restaurierungen-13, #restaurierungen-dot-13 { background-image: var(--restaurierungen-13);}
#restaurierungen-button-14, #restaurierungen-13, #shortcut-restaurierungen-14, #restaurierungen-dot-14 { background-image: var(--restaurierungen-14);}
#restaurierungen-button-15, #restaurierungen-14, #shortcut-restaurierungen-15, #restaurierungen-dot-15 { background-image: var(--restaurierungen-15);}
#restaurierungen-button-16, #restaurierungen-15, #shortcut-restaurierungen-16, #restaurierungen-dot-16 { background-image: var(--restaurierungen-16);}

#objekte-button-1, #objekte-1, #shortcut-objekte-1, #objekte-dot-1 { background-image: var(--objekte-1);}
#objekte-button-2, #objekte-2, #shortcut-objekte-2, #objekte-dot-2 { background-image: var(--objekte-2);}
#objekte-button-3, #objekte-3, #shortcut-objekte-3, #objekte-dot-3 { background-image: var(--objekte-3);}
#objekte-button-4, #objekte-4, #shortcut-objekte-4, #objekte-dot-4 { background-image: var(--objekte-4);}
#objekte-button-5, #objekte-5, #shortcut-objekte-5, #objekte-dot-5 { background-image: var(--objekte-5);}
#objekte-button-6, #objekte-6, #shortcut-objekte-6, #objekte-dot-6 { background-image: var(--objekte-6);}
#objekte-button-7, #objekte-7, #shortcut-objekte-7, #objekte-dot-7 { background-image: var(--objekte-7);}
#objekte-button-8, #objekte-8, #shortcut-objekte-8, #objekte-dot-8 { background-image: var(--objekte-8);}

#papiere-button-1, #papiere-1, #shortcut-papiere-1, #papiere-dot-1 { background-image: var(--papiere-1);}
#papiere-button-2, #papiere-2, #shortcut-papiere-2, #papiere-dot-2 { background-image: var(--papiere-2);}
#papiere-button-3, #papiere-3, #shortcut-papiere-3, #papiere-dot-3 { background-image: var(--papiere-3);}
#papiere-button-4, #papiere-4, #shortcut-papiere-4, #papiere-dot-4 { background-image: var(--papiere-4);}
#papiere-button-5, #papiere-5, #shortcut-papiere-5, #papiere-dot-5 { background-image: var(--papiere-5);}
#papiere-button-6, #papiere-6, #shortcut-papiere-6, #papiere-dot-6 { background-image: var(--papiere-6);}
#papiere-button-7, #papiere-7, #shortcut-papiere-7, #papiere-dot-7 { background-image: var(--papiere-7);}
#papiere-button-8, #papiere-8, #shortcut-papiere-8, #papiere-dot-8 { background-image: var(--papiere-8);}
#papiere-button-9, #papiere-9, #shortcut-papiere-9, #papiere-dot-9 { background-image: var(--papiere-9);}
#papiere-button-10, #papiere-10, #shortcut-papiere-10, #papiere-dot-10 { background-image: var(--papiere-10);}
#papiere-button-11, #papiere-11, #shortcut-papiere-11, #papiere-dot-11 { background-image: var(--papiere-11);}
#papiere-button-12, #papiere-12, #shortcut-papiere-12, #papiere-dot-12 { background-image: var(--papiere-12);}
#papiere-button-13, #papiere-13, #shortcut-papiere-13, #papiere-dot-13 { background-image: var(--papiere-13);}
#papiere-button-14, #papiere-14, #shortcut-papiere-14, #papiere-dot-14 { background-image: var(--papiere-14);}
#papiere-button-15, #papiere-15, #shortcut-papiere-15, #papiere-dot-15 { background-image: var(--papiere-15);}
#papiere-button-16, #papiere-16, #shortcut-papiere-16, #papiere-dot-16 { background-image: var(--papiere-16);}
#papiere-button-17, #papiere-17, #shortcut-papiere-17, #papiere-dot-17 { background-image: var(--papiere-17);}
#papiere-button-18, #papiere-18, #shortcut-papiere-18, #papiere-dot-18 { background-image: var(--papiere-18);}
#papiere-button-19, #papiere-19, #shortcut-papiere-19, #papiere-dot-19 { background-image: var(--papiere-19);}

#faltarbeiten-button-1, #faltarbeiten-1, #shortcut-faltarbeiten-1, #faltarbeiten-dot-1 { background-image: var(--faltarbeiten-1);}
#faltarbeiten-button-2, #faltarbeiten-2, #shortcut-faltarbeiten-2, #faltarbeiten-dot-2 { background-image: var(--faltarbeiten-2);}
#faltarbeiten-button-3, #faltarbeiten-3, #shortcut-faltarbeiten-3, #faltarbeiten-dot-3 { background-image: var(--faltarbeiten-3);}
#faltarbeiten-button-4, #faltarbeiten-4, #shortcut-faltarbeiten-4, #faltarbeiten-dot-4 { background-image: var(--faltarbeiten-4);}
#faltarbeiten-button-5, #faltarbeiten-5, #shortcut-faltarbeiten-5, #faltarbeiten-dot-5 { background-image: var(--faltarbeiten-5);}
#faltarbeiten-button-6, #faltarbeiten-6, #shortcut-faltarbeiten-6, #faltarbeiten-dot-6 { background-image: var(--faltarbeiten-6);}
#faltarbeiten-button-7, #faltarbeiten-7, #shortcut-faltarbeiten-7, #faltarbeiten-dot-7 { background-image: var(--faltarbeiten-7);}
#faltarbeiten-button-8, #faltarbeiten-8, #shortcut-faltarbeiten-8, #faltarbeiten-dot-8 { background-image: var(--faltarbeiten-8);}
#faltarbeiten-button-9, #faltarbeiten-9, #shortcut-faltarbeiten-9, #faltarbeiten-dot-9 { background-image: var(--faltarbeiten-9);}
#faltarbeiten-button-10, #faltarbeiten-10, #shortcut-faltarbeiten-10, #faltarbeiten-dot-10 { background-image: var(--faltarbeiten-10);}
#faltarbeiten-button-11, #faltarbeiten-11, #shortcut-faltarbeiten-11, #faltarbeiten-dot-11 { background-image: var(--faltarbeiten-11);}
#faltarbeiten-button-12, #faltarbeiten-12, #shortcut-faltarbeiten-12, #faltarbeiten-dot-12 { background-image: var(--faltarbeiten-12);}

.next, .prev {  
  width: auto;
  padding: 16px;
  
  color: grey;
  background-color: transparent;
  border: none;
  
  font-size: 18px;
  font-weight: 100;
  
  transition: 0.3s ease;
  cursor: pointer;
  user-select: none;
}
.prev:hover, .next:hover {
  transform: scale(1.3);
  color: darkred;
}
.prev:disabled, .next:disabled {
  color: transparent;
  cursor: default;
}

.dots-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dot {
  height: 10px;
  width: 10px;
  margin: 2px 4px;

  background-color: darkgray;
  background-size: 300%;
  background-position: center;
  border-radius: 50%;

  cursor: pointer;
  transition: 0.3s ease;
  opacity: 0.2;
}
.active, .dot:hover {
  transform: scale(1.5);
  opacity: 1;
  background-color: lightgray;
}
/* 
  DETAIL_PAGES
 */
 .detail-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
  height: 100vh;
  max-height: 100vh;
}
.shortcuts-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  
  margin-top: 50px;
  padding: 3vh 2vw;
  height: 90%;
}
.shortcuts {
  height: 5vh;
  width: 5vh;
  margin: 4px 4px;
  
  background-size: 300%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  
  cursor: pointer;
  transition: 0.3s ease;
}
.shortcuts:hover {
  animation-name: background-transform;
  animation-timing-function: ease;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
@keyframes background-transform {
  0% {background-size: 300%;}
  100% {background-size: 100%;}
}
.shortcuts:active {
  transform: scale(0.8);
}
.grossansicht-div {
  height: 100vh;
  max-height: 100vh;
  margin-top: 50px;
  width: 100%;
}
figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.image-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
}
img {
  display: block;
  max-height: 70vh;
  margin: auto;
}
figcaption {
  margin: auto 20vw;
  font-size: 16px;
}
.title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}
.subtitle {
  font-size: 16px;
  font-weight: 100;
  margin: 0;
}
.description {
  font-weight: 200;
}
.nonbreaking {
  font-size: 16px;
  white-space: nowrap;
}
span {
  font-size: 10px;
  font-weight: 200;
}
/*
  KONTAKT // VITA // AKTUELLES
*/
.extras-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

  min-height: 80vh;
  padding-top: 20vh;
}
#impressum-section {
  flex-direction: column;
  align-items: center;

  padding-top: 10vh;
}
.extras-div h1 {
  font-size: 6vh;
  font-weight: 400;
  margin-top: 0;
}
.extras-div h3 {
  font-size: 3vh;
  font-weight: 200;
}
.extras-div h4 {
  font-size: 2vh;
  font-weight: 300;
}
.extras-div h5 {
  font-size: 2vh;
  font-weight: 400;
}
.extras-div h6 {
  margin-bottom: 1vh;

  font-size: 18px;
  font-weight: 300;
}
.extras-div p {
  margin: 0;
}
#vita-div .nonbreaking {
  font-weight: 400;
}
.break{
  margin: 2vh auto;
}
.oeffnungszeiten-div {
  display: flex;
  flex-direction: row;
}
iframe {
  width: 40vw;
  height: 52vh;
}
#iframe-video {
  width: 90vw;
  max-width: 890px;
  height: 60vh;
  max-height: 500px;
}
.impressum_datenschutz {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.impressum, .datenschutz {
  width: 33vw;
}
/* 
  FOOTER
 */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 2vh;
  margin-left: 6vw;
}
footer ul {
  display: inherit;
}
.datenschutz-links {
  margin: auto 2vw;
}
/* 
    ...........................
    M E D I A  -  Q U E R I E S 
    ...........................

*/
@media (max-width: 1500px) {
  figcaption {
    margin: auto 10vw;
  }
}
@media (max-width: 1255px) {
  .prev, .vorschau {
    padding-right: 0;
  } .next {
    padding-left: 0; 
  }
  figcaption {
    margin: auto 5vw;
    font-size: 12px;
  }
  .title, .subtitle {
    font-size: 14px;
  }
  .copyright-p, .datenschutz-links {
    font-size: 12px;
  }
}
@media (max-width: 1200px) {
  .vorschau-button {
    margin-left: 0;
    transition: 0.3s ease;
  }
  .list-element {
    font-size: 14px;
  }
  figcaption {
    font-size: 12px;
  }
}
@media (max-width: 1100px) {
  .list-element {
    font-size: 12px;
  }
  img {
    width: 75vw;
  }
  .impressum_datenschutz {
    flex-direction: column;
  }
  .impressum, .datenschutz {
    width: 75vw;
  }
}
@media (max-width: 1000px) {
  #logo-anett-arnold {
    font-size: 20px;
  }
  #logo-buchbinderei {
    font-size: 14px;
  }
  .extras-section {
    flex-direction: column;
    align-items: center;
    margin: auto 5vw;
  }
  iframe {
    width: 80vw;
    margin-top: 5vh;
  }
}
@media (max-width: 900px) {
  .detail-section {
    flex-direction: column;
  }
  .shortcuts-div {
    flex-direction: row;
  }
  .detail-section {
    height: auto;
    max-height: none;
  }
}
@media (max-width: 850px) {
  #logo-container {
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (max-width: 750px) {
  .menu-list {
    display: none;
  }
  #burger-button {
    display: flex;
    margin: 0 10vw;
  }
  .list-element {
    font-size: 16px;
  }
  #logo-container {
    flex-direction: row;
    align-items: baseline;
    margin-left: 10vw;
  }
}
@media (max-width: 650px) {
  footer {
    flex-direction: column;
  }
  footer ul {
    flex-direction: row;
  }
  .datenschutz-links {
    margin: auto;
  }
}
@media (max-width: 450px) {
  .section-header {
    font-size: 24px;
  }
  .prev {
    padding: none;
    padding-right: 1vw;
  }
  .dots-div {
    flex-wrap: wrap;
  }
  .sections {
    padding: 3vh 1vw;
  }
  .oeffnungszeiten-div {
    font-size: smaller;
  }
}
@media (max-width: 380px) {
  #menu-container {
    justify-content: space-around;
  }
  #logo-container {
    flex-direction: column;
    align-items: flex-end;
    margin-left: 1vw;
  }
  .vorschau-div {
    padding: none;
  }
  .vorschau-button {
    min-width: none;
    width: 66vw;
    height: 66vw; 
  }
}
@media (max-width: 320px) {
  .oeffnungszeiten-div {
    font-size: 12px;
  }
}